/*----------kapcsolat oldal----------*/

.kapcsolat-inner {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #333;
  border-bottom: 1px solid var(--color-kek);
  gap: 4rem;
}

.kapcsolat-bal h3{
  color: var(--color-kek);
  font-size: 3rem;
  text-transform: uppercase;
}

.kapcsolat-bal h2{
  color: #fff;
  font-size: 3.2rem;
  margin-bottom: 1rem;
}

.kapcsolat-bal p {
  color: #fff;
  line-height: 1.6rem;
}

.kapcsolat-jobb {
  
  

  flex-basis: 30%;
  
  
  
  
}

.kapcsolat-bal {
  
  

  flex-basis: 30%;

}

/* ---------------- input stylok -----------------*/
/*------------------------------------------------*/

input[type=text] {
  width: 100%;
  border: 2px solid #aaa;
  padding: 8px;
  border-radius: 8px;
  outline: none;
  transition: all 250ms;
}

input[type=text]:focus {
  border-color: dodgerblue;
  box-shadow: 0 0 8px 0 dodgerblue;
}

.input-ikonnal input[type=text] {
  padding-left: 40px;
}

/*----email mező--------*/

input[type=email] {
  width: 100%;
  border: 2px solid #aaa;
  padding: 8px;
  border-radius: 8px;
  outline: none;
  transition: all 250ms;
}

input[type=email]:focus {
  border-color: dodgerblue;
  box-shadow: 0 0 8px 0 dodgerblue;
}

.input-ikonnal input[type=email] {
  padding-left: 40px;
}

/*-----------------------------------*/

.input-ikonnal {
  position: relative;
  margin-bottom: 10px;
}

.input-ikonnal .fa-user {
  position: absolute;
  left: 0;
  top: 8px;
  padding: 9px 8px;
  color: #aaa;
}

.input-ikonnal input[type=text]:focus + .fa-user {
  color: dodgerblue;
}

.input-ikonnal .fa-envelope {
  position: absolute;
  left: 0;
  top: 8px;
  padding: 9px 8px;
  color: #aaa;
}

.input-ikonnal input[type=email]:focus + .fa-envelope {
  color: dodgerblue;
}

.kapcsolat-jobb textarea {
  width: 100%;
  border: 2px solid #aaa;
  padding: 8px;
  border-radius: 8px;
  outline: none;
  transition: all 250ms;
}

.kapcsolat-jobb textarea:focus {
  border-color: dodgerblue;
  box-shadow: 0 0 8px 0 dodgerblue;
}

.submitbtn {
  margin-top: 10px;
  padding: 8px 20px;
  
}

/*------------------------------------------------*/




@media (max-width:700px) {
  .kapcsolat-inner {
    flex-direction: column;
    height: 100%;
  }

  .kapcsolat-bal {
    text-align: center;
    margin-top: 4rem;
  }

  .kapcsolat-jobb {
    margin-bottom: 4rem;
    text-align: center;
  }

  input[type=text] {
    width: 100%;
  }

  input[type=email] {
    width: 100%;
  }

  .kapcsolat-jobb textarea {
    width: 100%;
  }
}