@import "contact.css";

@media (prefers-reduced-motion: no-preference) {  /*  faszásul megy a laponn belüli navigáció - istencsászár találmány :) */
  * {
    scroll-behavior: smooth;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}

:root {
  --color-kek: #4682B4;
  --color-feher:#E0EBBA;
  --color-sarga1:#F1DB6D;
  --color-sarga2:#DFA843;
  --color-piros:#E95446;
}

/*-----------------------------------*/

h1,
h2,
h3 {
  font-family: 'Oswald', sans-serif;
}

p,
a {
  font-family: 'Noto Sans', sans-serif;
}

/*-----------------------------------*/
/*------------navigáció------------- */
.navcontainer {
  width: 100%;
  background-color: var(--color-piros);

  position: fixed;
  top: 0;
}

.navigation {
  max-width: 1600px;
  margin: 0 auto;
  height: 50px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  list-style: none;
  display: flex;
}

.navbar a{
  display: inline-block;
  color: #fff;
  text-decoration: none;
  margin-left: 1rem;
}

.social-links i {
  color: #fff;
  margin-right: 1rem;
}

@media (max-width:700px) {
  .navigation {
    flex-direction: column;
  }
}

/*-----------------------------------*/
/*---------hero kezdőlap-------------*/

.hero-image {
  height: 100vh;
  background-color: var(--color-kek);

  display: flex;
  justify-content: center;
  align-items: center;
}


/*-----------------------------------*/
/*-------------abot szekció----------*/
.about-inner {
  
  display: flex;
  
}

.about-box1 {
  flex: 1 1 50%;
}

.about-box1 img {
  display: block;
  width: 50vw;
  height: 100vh;
  object-fit: cover;
}

.about-box2 {
  flex: 1 1 50%;
  background-color: var(--color-sarga2);

  display: flex;
  justify-content: center;
  align-items: center;
  
}

.about-text {
  max-width: 40ch;
}

@media (max-width:700px) {
  .about-inner {
    flex-direction: column;
  }

  .about-box1 img {
    width: 100%;
  }

  .about-box2 {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

/*---------első elsálasztó-----------*/

.elvalaszto-head {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.elvalaszto-head h2 {
  font-size: 2.2rem;
  margin-top: 4rem;
  text-transform: uppercase;
  color: var(--color-piros);
}

.elvalaszto-head p {
  margin-top: 1rem;
  margin-bottom: 2rem;
  max-width: 40ch;
  text-align: center;

}


.elvalaszto {
  display: flex;
  flex-direction: row;
  height: 40vh;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
}

.elvalaszto-box {
  max-width: 25ch;
  
  border: 1px solid var(--color-piros);
  border-radius: 0% 0% 10px 10px;
  text-align: center;
  background-color: var(--color-sarga1);
}

.elvalaszto-box h2 {
  background-color: var(--color-piros);
  padding-bottom: 6px;
  padding-top: 6px;
  color: #fff;
}

.elvalaszto-box p {
  padding-top: 24px;
  padding-bottom: 52px;
}

@media (max-width:700px) {
  .elvalaszto {
    flex-direction: column;
    height: auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

/*-----------------------------------*/
/*-----------Proof szekció-----------*/

.proof-inner {
  
  display: flex;
  
}

.proof-box1 {
  flex: 1 1 50%;
  background-color: var(--color-kek);

  display: flex;
  justify-content: center;
  align-items: center;
}

.proof-text {
  max-width: 40ch;
}

.proof-box2 {
  flex: 1 1 50%;
}

.proof-box2 img {
  display: block;
  width: 50vw;
  height: 100vh;
  object-fit: cover;
}



@media (max-width:700px) {
  .proof-inner {
    flex-direction: column;
  }

  .proof-box2 img {
    width: 100%;
  }

  .proof-box1 {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}



/*-----------------------------------*/
/*-------footer szekció--------------*/

.footer {
  background-color: black;
  height: 120px;

  display: flex;
  align-items: flex-end;
}

.footer p {
  color: rgb(150, 150, 150);
  padding-left: 10px;
  padding-bottom: 10px;
}

/*-----------------------------------*/
