@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');


* {
  box-sizing: border-box;
}

/* Style the body */
body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

.velktext {
  padding-top: 0;
  padding-bottom: 0;
  margin: 0;
}

.logotext {
  margin: 0 auto;
  padding: 0;
}

/* Header/logo Title */
.header {
  /*background-image: url(../img/007.jpg);*/

  background: url(../img/009.jfif) no-repeat center; 
  background-size: cover;
  height: 98vh;
  position: relative;
  padding: 5.3em;
  /*background-blend-mode: luminosity;*/
  background-color: #444;

  text-transform: uppercase;


  
  
  /*background-blend-mode: luminosity;
  background-size: cover;
  height: 94vh;
  padding: 5.3em;*/

  /*padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: white;*/
}

/* Style the top navigation bar */
.navbar {
  display: flex;
  background-color: #333;
}

/* Style the navigation bar links */
.navbar a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

/* Change color on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Column container */
.row {  
  display: flex;
  flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  flex: 30%;
  background-color: #f1f1f1;
  padding: 20px;
}

/* Main column */
.main {
  flex: 70%;
  background-color: white;
  padding: 20px;
}

/* Fake image, just for this example */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* próbálok képet berakni :) */
.notfakeimg {
  background: url(../img/003b.jpg);
  background-position: 100% 20%;
  
  /*width: 100%;
  padding: 20px;*/

  background-color: rgb(97, 93, 93);
  background-blend-mode: luminosity;
  

  background-size: cover;
  height: 50vh;

  

  
  
  

  /*background: url(../img/002.jpg) no-repeat center; 
  background-size: cover;
  height: 80vh;
  position: relative;
  padding: 5.3em;
  background-blend-mode: luminosity;
  background-color: #444;*/
}

.notfakeimg:hover {
  cursor: pointer;
  background-color: rgb(97, 93, 93);
  mix-blend-mode: normal;
  
  
  
  

}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
}



/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row, .navbar , .stickymenu {   
    flex-direction: column;
  }
}

@media (min-width: 40rem) {
  .stickymenu {
    flex-direction: row;
  }
}

.sales-points {
  padding: 12vh 0;
  text-align: center;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

@media (min-width: 40rem) {
  .sales-points {
    flex-direction: row;
    padding-left: 50px;
    padding-right: 50px;
  }
}

.sales-point {
  flex-basis: 30%;
}



.stickymenu {
  display: flex;
  
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

li {
  float: left;
}

li a {
  display: block;
  color: rgb(180, 176, 176);
  text-align: center;
  padding: 5px 16px;
  text-decoration: none;
  transition: background-color 250ms,
    color 1s;
}

li a:hover {
  background-color: #111;
  color: rgb(245, 239, 239);
}

.active {
  background-color: #565856;
}


