@import "contact.css";

@media (prefers-reduced-motion: no-preference) {  /*  faszásul megy a laponn belüli navigáció - istencsászár találmány :) */
  * {
    scroll-behavior: smooth;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}

:root {
  --color-kek: #4682B4;
  --color-feher:#E0EBBA;
  --color-sarga1:#F1DB6D;
  --color-sarga2:#DFA843;
  --color-piros:#E95446;
}

/*-----------------------------------*/

h1,
h2,
h3 {
  font-family: 'Oswald', sans-serif;
}

p,
a {
  font-family: 'Noto Sans', sans-serif;
}

/*-----------------------------------*/
/*------------navigáció------------- */
.navcontainer {
  width: 100%;
  background-color: var(--color-piros);

  position: fixed;
  top: 0;
}

.navigation {
  max-width: 1600px;
  max-width: 95%;
  margin: 0 auto;
  /*height: 50px;*/

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  /*margin-bottom: 1em;*/
 
  text-align: center;
  color: white;
/*  border: 1px solid var(--color-kek);*/
  padding: 1px 12px;
  padding-right: 100px;
  margin: 3px 0;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: var(--color-kek);
}

.logo-h2 {
  text-transform: uppercase;
  font-size: 1.6rem;
  
}

.logo-p {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 0.7rem;
}

.navbar {
  list-style: none;
  display: flex;
}

.navbar a{
  display: inline-block;
  color: #fff;
  text-decoration: none;
  margin-left: 1rem;
  padding: 5px 12px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  position: relative;
  overflow: hidden;
}

.navbar a::before {
  content: "";
  background-color: var(--color-kek);
  top: 0;
  left: -1px;
  width: 100%;
  height: 100%;
  position: absolute;
  transform: translateX(-100%);
  transition: all 300ms;
  z-index: -1;
}

.navbar a:hover::before {
  transform: translateX(0);
}

.social-links i {
  color: #fff;
  margin-right: 1rem;
}

@media (max-width:700px) {
  .navigation {
    flex-direction: column;
    margin-bottom: .5em;
    margin-top: .5em;
    gap: .5em;
    height: auto;
  }
}

/*-----------------------------------*/
/*---------hero kezdőlap-------------*/

.hero-container {
  background-color: var(--color-kek);
  width: 100%;

  
}

.hero {
  height: 100vh;
  
  max-width: 95%;
  margin: 0 auto;
  
  background-color: var(--color-kek);

  /*border: 10px solid black;*/

  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-image-container {
  /*border: 1px solid black;*/
  flex: 1 0 40;
}

.hero-image {
  max-width: 100%;

}



.hero-text {
  flex: 1 0 40;
  /*align-content: center;*/
  
}

.hero-p {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 2rem;
}

.hero-btn {
  display: inline-block;
  padding: 5px 12px;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  background-color: var(--color-piros);
  font-size: 2rem;
  margin-top: 2em;
}

.hero-h1 {
  text-transform: uppercase;
  font-size: 7vw;
  
  /*border: 1px solid black;*/
}


@media (max-width: 900px) {
  
  .hero-container {
    height: 100vh;
  }
  
  .hero {
    flex-direction: column;
    align-items: center;
    justify-content: end;
  }

  .hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .hero-h1  {
    font-size: 0rem;
  }

  .hero-p {
    font-size: 0rem;
  }
}

/*-----------------------------------*/
/*-------------about szekció----------*/
.about-inner {
  
  display: flex;
  
}

.about-box1 {
  flex: 1 1 50%;
}

.about-box1 img {
  display: block;
  width: 50vw;
  height: 100vh;
  object-fit: cover;
}

.about-box2 {
  flex: 1 1 50%;
  background-color: var(--color-sarga2);

  display: flex;
  justify-content: center;
  align-items: center;
  
}

.about-text {
  max-width: 40ch;
}

@media (max-width:700px) {
  .about-inner {
    flex-direction: column;
  }

  .about-box1 img {
    width: 100%;
  }

  .about-box2 {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

/*---------első elsálasztó-----------*/

.elvalaszto-head {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.elvalaszto-head h2 {
  font-size: 2.2rem;
  margin-top: 4rem;
  text-transform: uppercase;
  color: var(--color-piros);
}

.elvalaszto-head p {
  margin-top: 1rem;
  margin-bottom: 2rem;
  max-width: 40ch;
  text-align: center;

}


.elvalaszto {
  display: flex;
  flex-direction: row;
  height: 40vh;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
  
}

.elvalaszto-box {
  max-width: 25ch;
  
  border: 1px solid var(--color-piros);
  border-radius: 0% 0% 10px 10px;
  text-align: center;
  background-color: var(--color-sarga1);
}

.elvalaszto-box h2 {
  background-color: var(--color-piros);
  padding-bottom: 6px;
  padding-top: 6px;
  color: #fff;
}

.elvalaszto-box p {
  padding-top: 24px;
  padding-bottom: 52px;
}

@media (max-width:700px) {
  .elvalaszto {
    flex-direction: column;
    height: auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

/*-----------------------------------*/
/*-----------Proof szekció-----------*/

.proof-inner {
  
  display: flex;
  
}

.proof-box1 {
  flex: 1 1 50%;
  background-color: var(--color-kek);

  display: flex;
  justify-content: center;
  align-items: center;
}

.proof-text {
  max-width: 40ch;
}

.proof-box2 {
  flex: 1 1 50%;
}

.proof-box2 img {
  display: block;
  width: 50vw;
  height: 100vh;
  object-fit: cover;
}



@media (max-width:700px) {
  .proof-inner {
    flex-direction: column;
    position: relative;
    top:100;
  }

  .proof-box2 img {
    width: 100%;
  }

  .proof-box1 {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}



/*-----------------------------------*/
/*-------footer szekció--------------*/

.footer {
  background-color: black;
  height: 120px;

  display: flex;
  align-items: flex-end;
}

.footer p {
  color: rgb(150, 150, 150);
  padding-left: 10px;
  padding-bottom: 10px;
}

/*-----------------------------------*/
