@media (prefers-reduced-motion: no-preference) {  /*  faszásul megy a laponn belüli navigáció - istencsászár találmány :) */
  * {
    scroll-behavior: smooth;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}

:root {
  --color-kek: #4682B4;
  --color-feher:#E0EBBA;
  --color-sarga1:#F1DB6D;
  --color-sarga2:#DFA843;
  --color-piros:#E95446;
}

/*-----------------------------------*/

h1,
h2,
h3 {
  font-family: 'Oswald', sans-serif;
}

p,
a {
  font-family: 'Noto Sans', sans-serif;
}

/*-----------------------------------*/
/*------------navigáció------------- */
.navcontainer {
  width: 100%;
  background-color: var(--color-piros);

  position: fixed;
  top: 0;
}

.navigation {
  max-width: 1600px;
  margin: 0 auto;
  height: 50px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  list-style: none;
  display: flex;
}

.navbar a{
  display: inline-block;
  color: #fff;
  text-decoration: none;
  margin-left: 1rem;
}

.social-links i {
  color: #fff;
  margin-right: 1rem;
}

@media (max-width:700px) {
  .navigation {
    flex-direction: column;
  }
}

/*-----------------------------------*/
/*---------hero kezdőlap-------------*/

.hero-image {
  height: 100vh;
  background-color: var(--color-kek);

  display: flex;
  justify-content: center;
  align-items: center;
}


/*-----------------------------------*/
/*-------------abot szekció----------*/
.about-inner {
  
  display: flex;
  
}

.about-box1 {
  flex: 1 1 50%;
}

.about-box1 img {
  display: block;
  width: 50vw;
  height: 100vh;
  object-fit: cover;
}

.about-box2 {
  flex: 1 1 50%;
  background-color: var(--color-sarga2);

  display: flex;
  justify-content: center;
  align-items: center;
  
}

.about-text {
  max-width: 40ch;
}

@media (max-width:700px) {
  .about-inner {
    flex-direction: column;
  }

  .about-box1 img {
    width: 100%;
  }

  .about-box2 {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

/*---------első elsálasztó-----------*/

.elvalaszto-head {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.elvalaszto-head h2 {
  font-size: 2.2rem;
  margin-top: 4rem;
  text-transform: uppercase;
  color: var(--color-piros);
}

.elvalaszto-head p {
  margin-top: 1rem;
  margin-bottom: 2rem;
  max-width: 40ch;
  text-align: center;

}


.elvalaszto {
  display: flex;
  flex-direction: row;
  height: 40vh;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
}

.elvalaszto-box {
  max-width: 25ch;
  
  border: 1px solid var(--color-piros);
  border-radius: 0% 0% 10px 10px;
  text-align: center;
  background-color: var(--color-sarga1);
}

.elvalaszto-box h2 {
  background-color: var(--color-piros);
  padding-bottom: 6px;
  padding-top: 6px;
  color: #fff;
}

.elvalaszto-box p {
  padding-top: 24px;
  padding-bottom: 52px;
}

@media (max-width:700px) {
  .elvalaszto {
    flex-direction: column;
    height: auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

/*-----------------------------------*/
/*-----------Proof szekció-----------*/

.proof-inner {
  
  display: flex;
  
}

.proof-box1 {
  flex: 1 1 50%;
  background-color: var(--color-kek);

  display: flex;
  justify-content: center;
  align-items: center;
}

.proof-text {
  max-width: 40ch;
}

.proof-box2 {
  flex: 1 1 50%;
}

.proof-box2 img {
  display: block;
  width: 50vw;
  height: 100vh;
  object-fit: cover;
}



@media (max-width:700px) {
  .proof-inner {
    flex-direction: column;
  }

  .proof-box2 img {
    width: 100%;
  }

  .proof-box1 {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

/*----------kapcsolat oldal----------*/

.kapcsolat-inner {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #333;
  border-bottom: 1px solid var(--color-kek);
  gap: 4rem;
}

.kapcsolat-bal h3{
  color: var(--color-kek);
  font-size: 3rem;
  text-transform: uppercase;
}

.kapcsolat-bal h2{
  color: #fff;
  font-size: 3.2rem;
  margin-bottom: 1rem;
}

.kapcsolat-bal p {
  color: #fff;
  line-height: 1.6rem;
}

.kapcsolat-jobb {
  
  

  flex-basis: 30%;
  
  
  
  
}

.kapcsolat-bal {
  
  

  flex-basis: 30%;

}

/* ---------------- input stylok -----------------*/
/*------------------------------------------------*/

input[type=text] {
  width: 100%;
  border: 2px solid #aaa;
  padding: 8px;
  border-radius: 8px;
  outline: none;
  transition: all 250ms;
}

input[type=text]:focus {
  border-color: dodgerblue;
  box-shadow: 0 0 8px 0 dodgerblue;
}

.input-ikonnal input[type=text] {
  padding-left: 40px;
}

/*----email mező--------*/

input[type=email] {
  width: 100%;
  border: 2px solid #aaa;
  padding: 8px;
  border-radius: 8px;
  outline: none;
  transition: all 250ms;
}

input[type=email]:focus {
  border-color: dodgerblue;
  box-shadow: 0 0 8px 0 dodgerblue;
}

.input-ikonnal input[type=email] {
  padding-left: 40px;
}

/*-----------------------------------*/

.input-ikonnal {
  position: relative;
  margin-bottom: 10px;
}

.input-ikonnal .fa-user {
  position: absolute;
  left: 0;
  top: 8px;
  padding: 9px 8px;
  color: #aaa;
}

.input-ikonnal input[type=text]:focus + .fa-user {
  color: dodgerblue;
}

.input-ikonnal .fa-envelope {
  position: absolute;
  left: 0;
  top: 8px;
  padding: 9px 8px;
  color: #aaa;
}

.input-ikonnal input[type=email]:focus + .fa-envelope {
  color: dodgerblue;
}

.kapcsolat-jobb textarea {
  width: 100%;
  border: 2px solid #aaa;
  padding: 8px;
  border-radius: 8px;
  outline: none;
  transition: all 250ms;
}

.kapcsolat-jobb textarea:focus {
  border-color: dodgerblue;
  box-shadow: 0 0 8px 0 dodgerblue;
}

.submitbtn {
  margin-top: 10px;
  padding: 8px 20px;
  
}

/*------------------------------------------------*/




@media (max-width:700px) {
  .kapcsolat-inner {
    flex-direction: column;
    height: 100%;
  }

  .kapcsolat-bal {
    text-align: center;
  }

  .kapcsolat-jobb {
    padding-bottom: 1rem;
    text-align: center;
  }

  input[type=text] {
    width: 100%;
  }

  input[type=email] {
    width: 100%;
  }

  .kapcsolat-jobb textarea {
    width: 100%;
  }
}

/*-----------------------------------*/
/*-------footer szekció--------------*/

.footer {
  background-color: black;
  height: 120px;

  display: flex;
  align-items: flex-end;
}

.footer p {
  color: rgb(150, 150, 150);
  padding-left: 10px;
  padding-bottom: 10px;
}

/*-----------------------------------*/
