@import "contact.css";

@media (prefers-reduced-motion: no-preference) {  /*  faszásul megy a laponn belüli navigáció - istencsászár találmány :) */
  * {
    scroll-behavior: smooth;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}

:root {
  --color-kek: #4682B4;
  --color-feher:#E0EBBA;
  --color-sarga1:#F1DB6D;
  --color-sarga2:#DFA843;
  --color-piros:#E95446;
}

body {
  line-height: 1.6;
}

/*-----------------------------------*/

h1,
h2,
h3 {
  font-family: 'Oswald', sans-serif;letter-spacing: 1.2px;
}

p,
a {
  font-family: 'Noto Sans', sans-serif;
}

img {
  max-width: 100%;
  display: block;
}

/*-----------------------------------*/
/*------------navigáció------------- */
.navcontainer {
  width: 100%;
  /*background-color: var(--color-piros);*/

  background-color: rgb(53, 52, 52);

  position: fixed;
  top: 0;
}

.navigation {
  max-width: 1600px;
  max-width: 95%;
  margin: 0 auto;
  /*height: 50px;*/

  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.logo {
  /*margin-bottom: 1em;*/
 
  text-align: center;
  color: white;
/*  border: 1px solid var(--color-kek);*/
  padding: 1px 12px;
  
  margin: 3px 0;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;

  background: var(--color-kek);
  cursor: pointer;
}

.logo-link {
  text-decoration: none;
  color: white;
}

.logo-h2 {
  text-transform: uppercase;
  font-size: 1.4rem;
  
}

.logo-p {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 0.7rem;
}

.navbar {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar a{
  display: inline-block;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 1px;
  color: #fff;
  text-decoration: none;
  margin-left: 1rem;
  padding: 5px 12px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  
  position: relative;
  overflow: hidden;
}

.navbar a::before {
  content: "";
  background-color: var(--color-kek);
  top: 0;
  left: -1px;
  width: 100%;
  height: 100%;
  position: absolute;
  transform: translateX(-100%);
  transition: all 300ms;
  z-index: -1;
}

.navbar a:hover {
  color: black;
  font-weight: 700;
}

.navbar a:hover::before {
  
  transform: translateX(0);
}

.social-links {
  
  margin-top: 2em;
  
}

.social-links i {
  
  color: #fff;
  margin-right: .7em;
  
  font-size: 2.6rem;
}

@media (max-width:700px) {
  .navigation {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: .5em;
    margin-top: .5em;
    gap: .5em;
    height: auto;
  }

  .navbar a {
    margin-bottom: -0.7em
  }
}

/*-----------------------------------*/
/*---------hero kezdőlap-------------*/

.hero-container {
  /*background-color: var(--color-kek);*/

  background: linear-gradient(180deg, var(--color-kek) 8.35%, rgba(0, 0, 0, 0) 153%);

  width: 100%;

  
}

.hero {
  height: 100vh;
  
  max-width: 95%;
  margin: 0 auto;
  
  /*background-color: var(--color-kek);*/

  

  /*border: 10px solid black;*/

  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-image-container {
  /*border: 1px solid black;*/
  width: 40%;
}

/*.hero-image {
  max-width: 100%;
}*/

.hero-text {
  /*border: 1px solid black;*/
  width: 30%;
  
  
}

.hero-p {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 2rem;
}

.hero-btn {
  display: inline-block;
  padding: 0.3em 1.1em;
  text-decoration: none;
  text-transform: uppercase;
  color:black;
  background-color: var(--color-kek);
  border-radius: 10px;
  font-size: 2rem;
  font-weight: 700;
  margin-top: 2em;
  letter-spacing: 1.4px;

  transition: all 250ms;
}

.hero-btn:hover {
  color: white;
  background-color: rgb(53, 52, 52);
  -webkit-box-shadow: 10px 10px 99px 6px rgb(68, 67, 68);
  -moz-box-shadow: 10px 10px 99px 6px rgb(70, 68, 70);
  box-shadow: 10px 10px 99px 6px rgb(70, 69, 70);
}

.hero-h1 {
  text-transform: uppercase;
  font-size: 5rem;
  
  position: relative;
  /*border: 1px solid black;*/
}

.hero-h1::before {
  content: "";
  height: 40%;
  width: 100%;
  z-index: -1;
  background-color: #444342;

  position: absolute;
  top:80px;
  left:20px;
}


@media (max-width: 900px) {
  
  .hero-container {
    height: auto;
    
  }
  
  .hero {
    flex-direction: column;
    align-items: center;
    justify-content: end;
  }

  .hero-image-container{
    width: 100%;
    order: -1;
  }

  .hero-text {
    text-align: center;
    width: 100%;
  }

  .hero-h1  {
    font-size: 2rem;
    overflow: hidden;
  }

  

  .hero-p {
    font-size: 1rem;
  }

  .hero-btn {
    margin-bottom: 2em;
  }
  
}

/*-----------------------------------*/
/*-------------about szekció----------*/

.img-rudi {
  /*border-radius: 50%;*/
  box-shadow: 10px 10px 10px rgb(68, 67, 67);
  margin-bottom: 2em;
}

.about-inner {
  
  display: flex;
  
}

.about-box1 {
  flex: 1 1 50%;
}

.about-box1 img {
  display: block;
  width: 50vw;
  height: 100vh;
  object-fit: cover;
}

.about-box2 {
  flex: 1 1 50%;
  background-color: var(--color-sarga2);

  display: flex;
  justify-content: center;
  align-items: center;
  
}

.about-text {
  max-width: 40ch;

  display: flex;
  flex-direction: column;
  gap: 2em;
}

.about-text p {
  text-align: justify;
}

@media (max-width:700px) {
  .about-inner {
    flex-direction: column;
  }

  .about-box1 img {
    width: 100%;
  }

  .about-box2 {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

/* ------Velkei vizes elválasztó --- 




/*---------első elsálasztó-----------*/

.elvalaszto-head {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}

.elvalaszto-head h1 {
  font-size: 4rem;
  margin-top: 4rem;
  text-transform: uppercase;
}

.elvalaszto-head h2 {
  font-size: 2.2rem;
  margin-top: 4rem;
  text-transform: uppercase;
  color: var(--color-kek);
}

.elvalaszto-head p {
  margin-top: 1rem;
  margin-bottom: 2rem;
  max-width: 40ch;
  text-align: center;
  
}


.elvalaszto {
  display: flex;
  flex-direction: row;
  height: auto;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
  margin-bottom: 8em;
  margin-top: 3em;
}

.elvalaszto-box {
  max-width: 25ch;
  
  border: 1px solid rgb(109, 108, 108);
  border-radius: 0% 0% 10px 10px;
  text-align: center;
  background-color: rgb(214, 211, 211);

  box-shadow: 5px 5px 5px gray;
}

.elvalaszto-box h2 {
  background-color: var(--color-kek);
  padding-bottom: 6px;
  padding-top: 6px;
  color: #fff;
  text-transform: uppercase;
}

.elvalaszto-box p {
  padding-top: 24px;
  padding-bottom: 52px;
  
}


/* ---------------
  elválsztó ikonok
----------------- */

.fa-html5,
.fa-css3-alt,
.fa-truck-medical {
  font-size: 4rem;
  padding-top: 20px;
  padding-bottom: 20px;
}

.fa-html5 {
  color: var(--color-piros);
}

.fa-css3-alt {
  color: var(--color-sarga2);
}

.fa-truck-medical {
  color: var(--color-kek);
}

@media (max-width:700px) {
  .elvalaszto {
    flex-direction: column;
    height: auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

/*-----------------------------------*/
/*-----------Proof szekció-----------*/

.proof-inner {
  
  display: flex;
  
}

.proof-box1 {
  flex: 1 1 50%;
  background-color: var(--color-kek);

  display: flex;
  justify-content: center;
  align-items: center;
}

.proof-text {
  max-width: 40ch;
}

.proof-text p {
  text-align: justify;
}

.proof-text h2 {
  margin-bottom: 1.5em;
}

.proof-box2 {
  flex: 1 1 50%;
}

.proof-box2 img {
  display: block;
  width: 50vw;
  height: 100vh;
  object-fit: cover;
}



@media (max-width:700px) {
  .proof-inner {
    flex-direction: column;
    
    
  }

  .proof-box2 img {
    width: 100%;
    
  }

  .proof-box1 {
    padding-top: 2rem;
    padding-bottom: 2rem;
    order: 99;
  }
}



/*-----------------------------------*/
/*-------footer szekció--------------*/

.footer {
  background-color: rgb(46, 44, 44);
  height: 120px;

  display: flex;
  align-items: flex-end;
}

.footer p {
  color: rgb(150, 150, 150);
  padding-left: 10px;
  padding-bottom: 10px;
}

/*-----------------------------------*/
